/*
* 我们的自定义样式
* @Author: iceStone
* @Date:   2015-12-12 10:56:34
* @Last Modified by:   iceStone
* @Last Modified time: 2015-12-15 17:23:08
*/


/**
 * 1. 样式都通过ID去限定
 * 2. 尽可能多使用直接子代选择器
 */


/**
 * 该套样式的主题色 #e92322
 * 希望以后的CSS中有变量的概念
 * 希望有嵌套语法
 * 希望有混合语法（Mixin）
 */


/*
var mainColor='#e92322';
body {
  background-color: mainColor;
}

.container {
  width: 100px;
  .row {
    margin-left: -15px;
    [class^="col-"],
    [class*=" col-"] {}
  }
}

.div {
  radius(10);
}

.div1 {
  radius(15);
}

function radius(r) {
  -webkit-border-radius: r;
  -moz-border-radius: r;
  -o-border-radius: r;
  -ms-border-radius: r;
  border-radius: r;
}

#tese > .container > .row > div {
  margin-top: 20px;
  margin-bottom: 20px;
}

#tese > .container > .row > div > p {}

#tese > .container > .row > div > p > span {}

#tese > .container > .row > div > a {
  color: #888;
}

#tese > .container > .row > div > a:hover {
  color: #666;
  text-decoration: none;
}*/


/* 公共样式 */

body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

@font-face {
  font-family: 'itcast';
  src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'), url('../font/MiFie-Web-Font.svg') format('svg'), url('../font/MiFie-Web-Font.ttf') format('truetype'), url('../font/MiFie-Web-Font.woff') format('woff');
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: itcast;
  font-style: normal;
}

.icon-mobilephone::before {
  content: "\e908";
  font-size: 13px;
}

.icon-telephone::before {
  content: "\e909";
  font-size: 15px;
}

.icon-logo::before {
  content: "\e93e";
}

.icon-icon::before {
  content: "\e920";
}


/* 头部区域 */

#header {}

#header > .topbar {
  height: 40px;
  border-bottom: 1px solid #c0c0c0;
  line-height: 40px;
}

#header > .topbar > .container > .row > div {
  height: 40px;
  font-size: 12px;
  color: #888;
}

#header > .topbar > .container > .row > div + div {
  border-left: 1px solid #c0c0c0;
}

#header a {
  color: #888;
}

#header a:hover {
  text-decoration: none;
}

#header .btn-itcast {
  color: #fff;
}

#header .mobile-link > img {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  top: 30px;
  z-index: 1001;
}

#header .mobile-link:hover > img {
  display: block;
}

#header .icon-icon {
  font-size: 50px;
  color: #E92322;
  line-height: 50px;
  vertical-align: middle;
}

#header .icon-logo {
  font-size: 32px;
  color: #333;
  line-height: 50px;
  vertical-align: middle;
}


/*#header > .topbar > .container > .row > div {
  background-color: #f40;
  height: 40px
}

#header > .topbar > .container > .row > div:nth-of-type(2n) {
  background-color: #f00;
}*/


/* 通栏广告轮播 */

#main_ad {}

#main_ad > .carousel-inner > .item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


/* 当屏幕宽度大于768时，将元素高度设置为410px */

@media (min-width: 768px) {
  #main_ad > .carousel-inner > .item {
    height: 410px;
  }
}

#main_ad > .carousel-inner > .item > img {
  width: 100%;
}


/* 网站特色 */

#tese {
  padding: 50px 0;
  border-bottom: 1px solid #c0c0c0;
}

.icon-uniE907:before {
  content: "\e907";
}

#tese i {
  font-size: 34px;
}

#tese > .container > .row > div {
  margin-top: 20px;
  margin-bottom: 20px;
}

#tese > .container > .row > div > a {
  color: #888;
}

#tese > .container > .row > div > a:hover {
  color: #666;
  text-decoration: none;
}


/* 立即预约 */

#ljyy {
  border-bottom: 1px solid #c0c0c0;
  padding: 20px 0;
}

#ljyy > .container > p {
  font-size: 14px;
  margin-bottom: 0;
}

#ljyy > .container > .pull-left > span,
#ljyy > .container > .pull-left > a {
  color: #e92322;
}

#ljyy > .container > .pull-left > a {
  border-bottom: 1px dashed #e92322;
}

#ljyy > .container > .pull-left > a:hover {
  text-decoration: none;
}

.icon-uniE906:before {
  content: "\e906";
}

.icon-uniE905:before {
  content: "\e905";
}


/* 推荐产品 */

#products {
  background-color: #f0f0f0;
  padding: 40px 0;
}


/*直接这样写pc上也会始终有横向滚动条*/


/*#products > .container > .ul-wapper {
  overflow-x: scroll;
}*/


/*@media (max-width: 768px) {
  #products > .container > .ul-wapper {
    overflow-x: scroll;
  }
}*/

#products > .container > .ul-wapper > .nav-tabs {
  padding-left: 20px;
}

#products > .container > .ul-wapper > .nav-tabs > li {}

#products > .container > .ul-wapper > .nav-tabs > li > a {
  font-size: 16px;
  color: #333;
}

#products > .container > .ul-wapper > .nav-tabs > li > a:hover {
  border-color: transparent;
  background-color: transparent;
  color: #000;
}

#products > .container > .ul-wapper > .nav-tabs > li.active {}

#products > .container > .ul-wapper > .nav-tabs > li.active > a {
  background-color: transparent;
  border: 0;
  border-bottom: 4px solid #e92322;
}

#products > .container > .tab-content {
  padding: 20px 0;
}


/* 新闻 */

#news {
  padding: 50px 0;
  border-bottom: 1px solid #c0c0c0;
}

#news .news-title {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px dashed #c0c0c0;
  position: relative;
  margin-right: 10px;
}

#news .news-title::after {
  content: ' ';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  position: absolute;
  bottom: -5px;
  right: -10px;
}


/*#news .nav-pills a i {
  font-size: 50px;
}*/

.icon-news01:before {
  content: "\e90e";
  font-size: 28px;
  color: #EAEAEA;
}

.icon-news02:before {
  content: "\e90f";
  font-size: 28px;
  color: #EAEAEA;
}

.icon-news03:before {
  content: "\e910";
  font-size: 28px;
  color: #EAEAEA;
}

.icon-news04:before {
  content: "\e911";
  font-size: 28px;
  color: #EAEAEA;
}

@media (max-width: 768px) {
  #news .nav-stacked > li {
    float: left;
    margin-right: 20px;
  }
}


/*合作伙伴*/

#hzhb {
  padding: 30px 0;
}

#hzhb ul {
  padding: 0;
  list-style: none;
  width: 818px;
  position: relative;
  overflow: hidden;
}

#hzhb ul li {
  float: left;
}

#hzhb ul li + li {
  border-left: 1px dashed #e0e0e0;
}

#hzhb ul li a {
  padding: 10px 20px;
  font-size: 50px;
  color: #888;
}

#hzhb ul li a:hover {
  text-decoration: none;
}

.icon-uniE930:hover {
  color: #df3232;
}

.icon-uniE930:before {
  content: "\e946";
}

.icon-uniE92F:hover {
  color: #e8380d;
}

.icon-uniE92F:before {
  content: "\e92f";
}

.icon-uniE92E:hover {
  color: #ed6f00;
}

.icon-uniE92E:before {
  content: "\e92e";
}

.icon-uniE92A:hover {
  color: #159f69;
}

.icon-uniE92A:before {
  content: "\e92a";
}

.icon-uniE929:hover {
  color: #07569e;
}

.icon-uniE929:before {
  content: "\e929";
}

.icon-uniE931:hover {
  color: #004098;
}

.icon-uniE931:before {
  content: "\e931";
}

.icon-uniE92C:hover {
  color: #d32019;
}

.icon-uniE92C:before {
  content: "\e92c";
}

.icon-uniE92B:hover {
  color: #3eac4a;
}

.icon-uniE92B:before {
  content: "\e92b";
}

.icon-uniE92D:hover {
  color: #2bb289;
}

.icon-uniE92D:before {
  content: "\e92d";
}


/*脚注区域*/

#footer {
  height: 200px;
}


/* Bootstrap扩展样式 */

.panel-czbk {
  border: 0;
  border-radius: 0;
  box-shadow: 1px 1px 5px #ccc;
  color: #777;
}

.panel-czbk p {
  margin-bottom: 0;
}

.panel-czbk.actived {
  background-color: #e92322;
  color: #fff;
}

.panel-czbk.actived::before {
  content: "\e915";
  font-family: itcast;
  font-size: 50px;
  position: absolute;
  top: -11px;
  left: 15px;
}

.panel-czbk.disabled {
  background-color: #e0e0e0;
}

.panel-czbk > .panel-heading {
  float: right;
  width: 120px;
  padding: 45px 0;
  height: 160px;
  border-left: 1px dashed #c0c0c0;
  text-align: center;
  position: relative;
}

.panel-czbk > .panel-heading::before,
.panel-czbk > .panel-heading::after {
  content: ' ';
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #f0f0f0;
  position: absolute;
}

.panel-czbk > .panel-heading::before {
  top: -8px;
  left: -8px;
}

.panel-czbk > .panel-heading::after {
  bottom: -8px;
  left: -8px;
  box-shadow: 0 2px 1px #ccc inset;
}

.panel-czbk > .panel-heading > p > strong {
  font-size: 30px;
}

.panel-czbk > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}

.panel-czbk > .panel-heading > .tooltips {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 26px;
}

.panel-czbk > .panel-heading .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  background-color: transparent;
  padding: 3px;
  margin: 2px;
}

.panel-czbk > .panel-heading .badge-one {
  color: #e92322;
  border-color: #e92322;
}

.panel-czbk > .panel-heading .badge-two {
  color: #399;
  border-color: #399;
}

.panel-czbk > .panel-body {
  margin-right: 120px;
  height: 160px;
}

.panel-czbk > .panel-body > h4,
.panel-czbk > .panel-body > .row > div {
  margin: 5px 0;
}

.btn-itcast {
  color: #ffffff;
  background-color: #E92322;
  border-color: #DB3B43;
}

.btn-itcast:hover,
.btn-itcast:focus,
.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
  color: #ffffff;
  background-color: #E92322;
  border-color: #DB3B43;
}

.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
  background-image: none;
}

.btn-itcast.disabled,
.btn-itcast[disabled],
fieldset[disabled] .btn-itcast,
.btn-itcast.disabled:hover,
.btn-itcast[disabled]:hover,
fieldset[disabled] .btn-itcast:hover,
.btn-itcast.disabled:focus,
.btn-itcast[disabled]:focus,
fieldset[disabled] .btn-itcast:focus,
.btn-itcast.disabled:active,
.btn-itcast[disabled]:active,
fieldset[disabled] .btn-itcast:active,
.btn-itcast.disabled.active,
.btn-itcast[disabled].active,
fieldset[disabled] .btn-itcast.active {
  background-color: #E92322;
  border-color: #DB3B43;
}

.btn-itcast .badge {
  color: #E92322;
  background-color: #ffffff;
}

.navbar-itcast {
  background-color: #fff;
  border-color: #f5f5f5;
  margin-bottom: 0;
  top: 0;
  width: 100%;
}

.navbar-itcast .navbar-brand {
  color: #777;
  height: 80px;
}

.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.navbar-itcast .navbar-text {
  color: #777;
}

.navbar-itcast .navbar-nav > li > a {
  color: #777;
  line-height: 48px;
  font-size: 14px;
}

.navbar-itcast .navbar-nav > li > a:hover,
.navbar-itcast .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 2px solid #e92322;
}

.navbar-itcast .navbar-nav > .active > a,
.navbar-itcast .navbar-nav > .active > a:hover,
.navbar-itcast .navbar-nav > .active > a:focus {
  color: #555;
  background-color: transparent;
  border-bottom: 2px solid #e92322;
}

.navbar-itcast .navbar-nav > .disabled > a,
.navbar-itcast .navbar-nav > .disabled > a:hover,
.navbar-itcast .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}

.navbar-itcast .navbar-toggle {
  border-color: #ddd;
  margin-top: 23px;
  margin-bottom: 23px;
}

.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
  background-color: #ddd;
}

.navbar-itcast .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
  border-color: #e7e7e7;
}

.navbar-itcast .navbar-nav > .open > a,
.navbar-itcast .navbar-nav > .open > a:hover,
.navbar-itcast .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

@media (max-width: 767px) {
  .navbar-itcast .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}

.navbar-itcast .navbar-link {
  color: #777;
}

.navbar-itcast .navbar-link:hover {
  color: #333;
}

.navbar-itcast .btn-link {
  color: #777;
}

.navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link:focus {
  color: #333;
}

.navbar-itcast .btn-link[disabled]:hover,
fieldset[disabled] .navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link[disabled]:focus,
fieldset[disabled] .navbar-itcast .btn-link:focus {
  color: #ccc;
}
