<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>使用拦截器来取代基类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2090DE221DF6587E00650BCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2090DE3B1DF6587E00650BCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2090DE461DF6587E00650BCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
