<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Template • TodoMVC</title>
  <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
  <!-- CSS overrides - remove if you don't need it -->
  <link rel="stylesheet" href="css/app.css">
</head>

<body ng-app="app">
  <!-- <div ng-view></div> -->
  <ng-view></ng-view>
  <script id="main_tmpl" type="text/ng-template">
    <section class="todoapp" ng-controller="MainController">
      <header class="header">
        <h1>todos</h1>
        <form ng-submit="add()">
          <input class="new-todo" placeholder="What needs to be done?" ng-model="text" autofocus>
        </form>
      </header>
      <section class="main" ng-show="todos.length">
        <input class="toggle-all" type="checkbox" ng-click="toggleAll()">
        <label for="toggle-all">Mark all as complete</label>
        <ul class="todo-list">
          <li ng-repeat="todo in todos | filter: selector : equalCompare" ng-class="{completed:todo.completed,editing:todo.id===currentEditingId}" data-id="{{todo.id}}">
            <div class="view">
              <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggle()">
              <label ng-dblclick="editing(todo.id)">{{todo.text}}</label>
              <button class="destroy" ng-click="remove(todo.id)"></button>
            </div>
            <form ng-submit="save()">
              <input class="edit" ng-model="todo.text" ng-blur="save()">
            </form>
          </li>
        </ul>
      </section>
      <!-- This footer should hidden by default and shown when there are todos -->
      <footer class="footer" ng-show="todos.length">
        <!-- This should be `0 items left` by default -->
        <span class="todo-count"><strong>{{todos.length}}</strong> item left</span>
        <!-- Remove this if you don't implement routing -->
        <ul class="filters">
          <li>
            <a ng-class="{selected:selector.completed == undefined}" href="#/">All</a>
          </li>
          <li>
            <a ng-class="{selected:selector.completed == false}" href="#/active">Active</a>
          </li>
          <li>
            <a ng-class="{selected:selector.completed == true}" href="#/completed">Completed</a>
          </li>
        </ul>
        <!-- Hidden if no completed items are left ↓ -->
        <button class="clear-completed" ng-click="clear()" ng-show="existCompleted()">Clear completed</button>
      </footer>
    </section>
  </script>
  <footer class="info">
    <p>Double-click to edit a todo</p>
    <!-- Remove the below line ↓ -->
    <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
    <!-- Change this out with your name and url ↓ -->
    <p>Created by <a href="http://todomvc.com">you</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </footer>
  <!-- Scripts here. Don't remove ↓ -->
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-route/angular-route.js"></script>
  <script src="js/controllers/main.js"></script>
  <script src="js/services/main.js"></script>
  <script src="js/app.js"></script>
</body>

</html>
