<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameId</key>
	<string>1</string>
	<key>localeId</key>
	<string>1</string>
	<key>localeName</key>
	<string>电信区</string>
	<key>realms</key>
	<array>
		<dict>
			<key>aliasName</key>
			<string>电信一</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>1</string>
			<key>realmName</key>
			<string>艾欧尼亚</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信二</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>2</string>
			<key>realmName</key>
			<string>祖安</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信三</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>3</string>
			<key>realmName</key>
			<string>诺克萨斯</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信四</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>4</string>
			<key>realmName</key>
			<string>班德尔城</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信五</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>5</string>
			<key>realmName</key>
			<string>皮尔特沃夫</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信六</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>6</string>
			<key>realmName</key>
			<string>战争学院</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信七</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>7</string>
			<key>realmName</key>
			<string>巨神峰</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信八</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>8</string>
			<key>realmName</key>
			<string>雷瑟守备</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信九</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>9</string>
			<key>realmName</key>
			<string>裁决之地</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信十</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>10</string>
			<key>realmName</key>
			<string>黑色玫瑰</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信十一</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>11</string>
			<key>realmName</key>
			<string>暗影岛</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信十二</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>12</string>
			<key>realmName</key>
			<string>钢铁烈阳</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信十四</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>13</string>
			<key>realmName</key>
			<string>水晶之痕</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信十三</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>14</string>
			<key>realmName</key>
			<string>均衡教派</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信十五</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>15</string>
			<key>realmName</key>
			<string>影流</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信十六</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>16</string>
			<key>realmName</key>
			<string>守望之海</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信十七</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>17</string>
			<key>realmName</key>
			<string>征服之海</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信十八</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>18</string>
			<key>realmName</key>
			<string>卡拉曼达</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>电信十九</string>
			<key>gameId</key>
			<string>1</string>
			<key>localeId</key>
			<string>1</string>
			<key>realmId</key>
			<string>19</string>
			<key>realmName</key>
			<string>皮城警备</string>
			<key>realmType</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
