<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>诚然，在人生的旅途中，我们都在不停地赶路，只是每个人所走的路不尽相同而已，有的人走的是捷径，而有些人或者大多数人所走的却都是弯路。其实，当你从高空鸟瞰大地的时候，你会发现，现实中的路，绝大多数是弯弯曲曲的，即使存在所谓的直路，它也只不过是一条比它更长的弯路中的一小段而已</string>
		<key>img</key>
		<string>http://oev7pdzx0.bkt.clouddn.com/icon.jpg</string>
	</dict>
	<dict>
		<key>content</key>
		<string>如果不去遍历世界，我们就不知道什么是我们精神和情感的寄托，但我们一旦遍历了世界，却发现我们再也无法回到那美好的地方去了。当我们开始寻求，我们就已经失去，而我们不开始寻求，我们根本无法知道自己身边的一切是如此可贵
如果不去遍历世界，我们就不知道什么是我们精神和情感的寄托，但我们一旦遍历了世界，却发现我们再也无法回到那美好的地方去了。当我们开始寻求，我们就已经失去，而我们不开始寻求，我们根本无法知道自己身边的一切是如此可贵  -《小王子》</string>
		<key>img</key>
		<string>http://oev7pdzx0.bkt.clouddn.com/icon.jpg</string>
	</dict>
	<dict>
		<key>content</key>
		<string>我们要有最朴素的生活，与最遥远的梦想。即使明日天寒地冻，路远马亡。 </string>
		<key>img</key>
		<string>http://oev7pdzx0.bkt.clouddn.com/icon.jpg</string>
	</dict>
	<dict>
		<key>content</key>
		<string>人生恰如三月花，倾我一生一世念。 
人生恰如三月花，倾我一生一世念。 来如飞花散似烟，醉里不知年华限。</string>
		<key>img</key>
		<string>http://oev7pdzx0.bkt.clouddn.com/icon.jpg</string>
	</dict>
	<dict>
		<key>content</key>
		<string>我这一生只求两次幸运便好：一次遇到你，一次走到底</string>
		<key>img</key>
		<string>http://oev7pdzx0.bkt.clouddn.com/icon.jpg</string>
	</dict>
	<dict>
		<key>content</key>
		<string>什么叫大智慧?大智慧就是：你若简单我比你还简单，你若复杂我比你还复杂。</string>
		<key>img</key>
		<string>http://oev7pdzx0.bkt.clouddn.com/icon.jpg</string>
	</dict>
	<dict>
		<key>content</key>
		<string>待你长发及腰，唯恐岁月萧萧，吾已不再年少，卿亦容颜倦老，曾经心比天高，如今付之一笑，只愿苍天不负，岁月静好。</string>
		<key>img</key>
		<string>http://oev7pdzx0.bkt.clouddn.com/icon.jpg</string>
	</dict>
	<dict>
		<key>content</key>
		<string>我为你写下江山如画，你却让我蹉跎了一生似水年华； 我为你笔下君临天下，你却让我破碎了两世青梅竹马； 我为你种下十里桃花，你却让我沐浴了三年半城烟沙； 我为你赋下凭栏相挂，你却让我等候了四曲唱念做打； 我为你害下相思如麻，你却让我虚度了五载老树昏鸦； 我为你忍下浪迹天涯，你却让我承受了六次丢盔弃甲； 我为你隐下眉间朱砂，你却让我痴笑了七碗砒霜杀伐； 我为你染下青丝白发，你却让我力竭了八声嘶鸣黯哑； 我为你败下山河欲塌，你却让我听闻了九月倾城佳话； 我为你许下倾国以嫁，你却让我叹息了十句白衣非他</string>
		<key>img</key>
		<string>http://oev7pdzx0.bkt.clouddn.com/icon.jpg</string>
	</dict>
	<dict>
		<key>content</key>
		<string>忆往昔年华似锦， 看今朝物是人非。 人生若梦死方醒， 岁月如歌何时休？</string>
		<key>img</key>
		<string>http://oev7pdzx0.bkt.clouddn.com/icon.jpg</string>
	</dict>
	<dict>
		<key>content</key>
		<string>有时生活会给你当头一棒，但不要灰心。我坚信让我不断前行的唯一力量就是我热爱我所做的一切。所以，你们一定得知道自己喜欢什么，选择爱人时如此，选择工作时同样如此 ——史蒂夫·乔布斯</string>
		<key>img</key>
		<string>http://oev7pdzx0.bkt.clouddn.com/icon.jpg</string>
	</dict>
	<dict>
		<key>content</key>
		<string>等待的姿势里，人们模样各不相同。而我倒情愿你能带着笑坐在长椅上，剥一颗橘子，哼一段曲，不必忧虑，不必前后张望。因为你知道，等的那列火车一定会来，纵使满身尘嚣，纵使山高水长。 ——段劈柴</string>
		<key>img</key>
		<string>http://oev7pdzx0.bkt.clouddn.com/icon.jpg</string>
	</dict>
	<dict>
		<key>content</key>
		<string>风起云涌江湖间，逐浪涛空碧海天，把酒东风渔舟夜，纵情长梦醉陶然</string>
		<key>img</key>
		<string>http://oev7pdzx0.bkt.clouddn.com/icon.jpg</string>
	</dict>
</array>
</plist>
