<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模块</title>
</head>
<body>

<div ng-app="myApp" ng-controller="DemoController">
    <input type="text" placeholder="请输入用户名" ng-model="user.name">
    <p>用户名 <strong>{{user.name}}</strong></p>
    <input type="button" value="获取改变后的值" ng-click="show()">
</div>

<script src="bower_components/angular/angular.js"></script>
<script>

    /**
     注册模块 通过module函数，
     第一个参数是这个模块的名字
     !!! 第二个参数是这个模块所依赖的模块, 如果不依赖任何模块也必须传递第二个参数，如果没有传递第二个参数，angular.module就不是创建一个模块
     angular.module 返回 刚刚创建的模块对象
     */
    var app = angular.module('myApp', []);

    /**
     angular.module('myApp').controller('DemoController', function () {

     });
     * */

    /***
     app.controller 方法用于创建一个控制器，所创建的控制器属于myApp模块
     控制器函数的参数中有一个 $scope
     */
    app.controller('DemoController', function ($scope) {

        // 当控制器执行时会自动执行的函数
        $scope.user = {};
        $scope.user.name = "张无忌";

        // $scope不仅仅可以往视图中暴露数据，还可以暴露行为
        $scope.show = function () {
            console.log($scope.user);
        };
    });


</script>

</body>
</html>